@import '../variables';
@import './mixin';

.add-priority {
    display: flex;
    margin: 10px;
}

.add-priority h4 {
    width: 90px;
}

%add-priority {
    width: 97%;
    padding: 0 10px;
    margin: 10px;
    outline: none;
    border: 0;
    appearance: none;
    border-radius: 2px;
    background-color: white;
    @include mediaQuery(850px) {
       margin: 0px;
       height: 50px;
    }
}

.add-priority select {
    @extend %add-priority;
    // padding: 0 10px;
}

.add-priority input {
    @extend %add-priority;
    @include mediaQuery(850px) {
        padding: 0 5px;
    }
}

input[type="date"] {
  outline: none;
  border: 0;
}

input[type="date"]::-webkit-clear-button, input[type="time"]::-webkit-clear-button {
  font-size: 18px;
  height: 30px;
  margin: 6px;
  position: relative;
}

input[type="date"]::-webkit-inner-spin-button, input[type="time"]::-webkit-inner-spin-button {
  height: 40px;
  margin: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 15px;
  margin: 3px;
}

// #priority-select {
//     width: 97%;
//     padding: 0 10px;
//     margin: 10px;

//     ul {
//     list-style: none;
//     border: 1px solid yellow;
//     text-align: left;

//     li {
//     display: inline-block;
//     margin: 20px;
//     border: 1px solid red;
//     @include mediaQuery(850px) {
//     margin: 2px;
//   }
//     }
//     }


input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.add-list-input {
  width: 90%;
  height: 50px;
  display: block;
  margin: 10px auto 30px auto;
  padding: 10px;
  border: 0;
  border-radius: 20px;
  outline: none;
}

 /* displayDiv is in add list div */
.displayDiv {
    display: block;
    margin: 20px;
}

.notDisplayDiv {
    display: none;
}

// #edit-task-area {
//   border: 1px solid red;
// }

.edit-task-div {
    width: 100%;
}

.edit-task-proprty {
  display: flex;
}

.edit-task-proprty h4 {
    width: 70px;
}

.edit-task-proprty select {
    @extend %add-priority;
    // padding: 0 10px;
}

.edit-task-proprty input {
    @extend %add-priority;
    @include mediaQuery(850px) {
        padding: 0 5px;
    }
}

#edit-task-buttons {
    display: flex;
    justify-content: center;
}
