@import '../variables';
@import './mixin';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color;
}

#root, .App { 
  height: 100%;
}

#main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  justify-content: center;
}

%menu-tasks {
  text-align: center;
}

#menu {
  min-width: 300px;
  min-height: 100%;
  @extend %menu-tasks;
  flex: 1;  
  background-color: $main-color;
} 

#menu h4 {
  @include mediaQuery(850px) {
    display: none;
  }
}

#tasks {
  min-width: 550px;
  height: auto;
  @extend %menu-tasks;
  flex: 3;
  padding-bottom: 60px;
  @include mediaQuery(850px) {
    min-width: 200px;
  }
}

