@import '../variables';
@import './mixin';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color;
}

button {
  background-color: $main-color;
  border: 1px solid $main-color;
  color: $button-color;
  border-radius: 5px;
  margin: 5px;
  outline: none;
  box-shadow: 1px 1px 3px $button-shadow-color;

  &:active {
    transform: translateX(1px) translateY(1px);
    box-shadow: 1px 1px 1px $button-shadow-color;
  }
  
}

#root, .App { 
  height: 100%;
}

#main {
  display: flex;
  width: 100%;
  justify-content: center;
  @include mediaQuery(750px) {
    flex-direction: column;
  }
}

%menu-tasks {
  text-align: center;
}

#menu {
  min-width: 300px;
  width: 100%;
  min-height: 100vh;
  @extend %menu-tasks;
  flex: 1;  
  background: $menu-background-gradient;
  color: white;
  @include mediaQuery(750px) {
    flex-direction: column;
    min-height: min-content;
    min-width: unset;
  }
} 

#menu h4 {
  @include mediaQuery(750px) {
    display: none;
  }
}

#tasks {
  height: auto;
  @extend %menu-tasks;
  flex: 3;
  padding-bottom: 60px;
  @include mediaQuery(850px) {
    min-width: 200px;
  }
}

