@mixin textarea {
  width: 90%;
  min-height: 20px;
  max-height: 200px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid $main-color;
  border-radius: 10px;
  outline: none;
  resize: vertical;
}

@mixin button-menu {
  padding: 10px;
  margin: 0 10px;
  background-color: $button-color;
  border: 0 solid;
  border-radius: 5px;
  outline: none;
  box-shadow: 3px 3px 5px $button-shadow-color;
  user-select: none;
}

@mixin active {
  box-shadow: 1px 1px 5px $button-shadow-color;
  transform: translateX(1px) translateY(1px);
}

@mixin mediaQuery($arg) {
  @media screen and (max-width: $arg) {
    @content
  }
}
