@import '../variables';
@import './mixin';

%task-note-list {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

#task-list {
    @extend %task-note-list;
}

#note-list {
    @extend %task-note-list;
}

.button-to-input {
  width: 200px;
  padding: 5px;
}

#taskArea {
  position: relative;
  width: 100%;
  height: auto;
}

%add-list-div-hidden {
  display: block;
  width: 90%;
  height: 0;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 4%;
  transition: height 0.5s ease;
  background-color: $main-color;
  @include mediaQuery(500px) {
    top: 0px;
  }
}

.add-task-div-hidden {
    @extend %add-list-div-hidden;
}

.add-list-div-hidden {
    @extend %add-list-div-hidden;
}

.add-task-div-hidden *, .add-list-div-hidden * {
  display: none;
}

%add-task-list-div-visible {
  display: block;
  width: 90%;
  height: 450px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 4%;
  transition: height 0.5s ease;
  background-color: $main-color;
  border: 5px double #bbb;
  box-shadow: 5px 5px 2px rgba(77, 77, 77, 0.8);
  z-index: 3;
  @include mediaQuery(500px) {
    top: 0px;
  }
}

.add-task-div-visible {
    @extend %add-task-list-div-visible;
    @include mediaQuery(500px) {
        height: 430px;
    }
}

.add-list-div-visible {
    @extend %add-task-list-div-visible;
    height: 200px;
}

.add-task-area, .add-list-area {
  width: 100%;
  position: relative;
  z-index: 3;
}

.right {
  position: absolute;
  top: -15px;
  right: -19px;
}

.add-task {
  width: 100%;
  height: auto;
}

%one-task-one-note {
  width: 97%;
  height: auto;
  background-color: $task-color;
  margin: 5px auto;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* transition: margin 1s ease; */
  border: 1px solid $main-color;
  @include mediaQuery(500px) {
    margin: 1px auto;
  }
}

.one-task {
    @extend %one-task-one-note;
  background-image: url("../img/dnd.png");
  background-repeat: no-repeat;
  background-position: right 55px bottom 50%;
}

.one-task-dragover {
  background-color: rgba(255,255,255,0.7);
  border: 2px dashed blue;
}

.one-task-dragover * {pointer-events: none;}

/* .one-task * {pointer-events: none;} */

.checkbox-container {
  padding-left: 5px;
}

.checkbox-style {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  position: relative;
}

// .checkbox-style:after {
//   content: "";
//   background-image: url("../img/trashIcon.png");
//   width: 25px;
//   height: 24px;
//   position: absolute;
//   left: -3px;
//   bottom: -28px;
//   // border: 1px solid red;
// }

.task-p-area {
  width: 85%;
  margin-left: 10px;
  margin-right: 50px;
  outline-color: grey;
  @include mediaQuery(500px) {
    width: 60%;
  }
}

.task-p {
  height: 100%;
}

%task {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0 0 0;
  font-size: 18px;
  
}

.task-text {
  @extend %task;
  @include mediaQuery(500px) {
    padding: 5px 0 0 0;
  }
}

.task-property {
  @extend %task;
  margin: 3px 0 15px 0;
  padding: 0;
  font-size: 14px;
  color: grey;
  @include mediaQuery(500px) {
    margin: 3px 0 5px 0;
    font-size: 12px;
  }
}

%delete-button {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    text-align: center;
    background-color: $button-color;
    border: 2px solid $button-border-color;
    border-radius: 50px;
    outline: none;
    box-shadow: 2px 2px $button-shadow-color;
}

.delete-task-button, .delete-note-button {
  background-image: url("../img/trashIcon.png");
  width: 35px;
  height: 33px;
  margin-right: 5px;
  outline: none;
  &:active {
    @include active;
  }
}

.delete-list-button, .delete-add-new-task-button {
  @extend %delete-button;
}

#add-note {
  margin: 25px auto 5px auto;
  padding: 15px 0;
}

.one-note {
    @extend %one-task-one-note;
}

.textarea {
  @include textarea;
  height: 50px;
}

.textarea-edit-task {
    @include textarea;
    height: 20px;
}

.note-text {
  width: 85%;
  margin-left: 15px;
  outline-color: grey;
}

#round-button-area {
  width: 52%;
  display: flex;
  justify-content: space-between;
  float: right;
  margin: 10px;
}

%button-round {
  width: 50px;
  height: 50px;
  background-color: $button-border-color;
  border: 0 solid;
  border-radius: 50px;
  outline: none;
  box-shadow: 3px 3px 5px $button-shadow-color;
}

.add-task-button {
  @extend %button-round;
  &:active {
    @include active;
  }
  @include mediaQuery(500px) {
    position: fixed; 
    bottom: 2%;
    right: 2%;
  }
}

%button-menu {
  padding: 10px;
  background-color: $button-color;
  border: 0 solid;
  border-radius: 5px;
  outline: none;
  box-shadow: 3px 3px 5px $button-shadow-color;
  margin: 0 auto;
  user-select: none;
}

#show-all-button, #delete-all-button {
  @include button-menu;
  &:active {
    @include active;
  }
}