
.overlap {
    border: 1px solid red;
}

.hidden {
    display: block;
    height: 0;
    opacity: 0;
    -webkit-transition: height 2s ease;  
    -moz-transition: height 2s ease;  
    -o-transition: height 2s ease;  
    -ms-transition: height 2s ease;  
    transition: height 2s ease;
}

.visible {
    display: block;
    max-height: 300px;
    opacity: 1;
    -webkit-transition: height 2s ease;  
    -moz-transition: height 2s ease;  
    -o-transition: height 2s ease;  
    -ms-transition: height 2s ease;  
    transition: height 2s ease;
    border: 1px dotted black;
}

.hidden * {
    display: none;
}

.visible * {
    display: block;
    height: auto;
    opacity: 1;
    /* border: 1px solid yellow; */
}

.ovlp-title {
    border: 1px solid yellow;
    margin: 0;
    padding: 10px;
}

.ovlp-descr-p {
    padding: 5px 10px;
}

#list-filter {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: yellow;
}

#date-filter, #no-filter {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: red;
}

