
.overlap {
    outline: none;
    margin: 3px 0;
}

.overlap-active {
    /* border: 5px solid orange; */
}

.hidden {
    display: block;
    height: 0;
    opacity: 0;
    -webkit-transition: height 2s ease;  
    -moz-transition: height 2s ease;  
    -o-transition: height 2s ease;  
    -ms-transition: height 2s ease;  
    transition: height 2s ease;
}

.visible {
    display: block;
    max-height: 300px;
    opacity: 1;
    -webkit-transition: height 2s ease;  
    -moz-transition: height 2s ease;  
    -o-transition: height 2s ease;  
    -ms-transition: height 2s ease;  
    transition: height 2s ease;
}

.hidden * {
    display: none;
}

.visible * {
    display: block;
    height: auto;
    opacity: 1;
    /* border: 1px solid yellow; */
}

.ovlp-title {
    margin: 0;
    padding: 20px;
    border: 2px solid orange
}
.ovlp-title-active {
    margin: 0;
    padding: 20px;
    border: 5px solid orange
}
 

.ovlp-descr-select {
    display: flex;
    /* flex-direction: column; */
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

#list-filter {
    width: 95%;
    height: 50px;
    padding: 0 5px;
    margin: 10px;
    background-color: white;
    border: 3px solid orange;
}

#priority-filter {
    display: flex;
    justify-content: center;
}

#priority-filter div {
    margin: 0 auto 5px auto;
}

input[name="priority"]{
    display: none;
}

input[type="radio"] + label {
	background-repeat: no-repeat;
	content: "";
    width: 40px;
    height: 42px;
}

input[type="radio"] + label[for="1"] {
    background: url(../img/whitePr.png);
}

input[type="radio"] + label[for="2"]{
    background: url(../img/yellowPr.png);
}

input[type="radio"] + label[for="3"] {
    background: url(../img/orangePr.png);
}

input[type="radio"] + label[for="4"] {
    background: url(../img/redPr.png);
}

#no-filter {
    width: 120px;
    height: 30px;
    margin: 5px;
    background-color: yellow;
}

.choose-list{
    width: 100%;
    margin: 0;
}

