#task-list, #note-list {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.button-to-input {
  width: 200px;
  padding: 5px;
}

#taskArea {
  position: relative;
  width: 100%;
  height: auto;
}

.add-task-div-hidden {
  display: block;
  width: 90%;
  height: 0;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 4%;
  transition: height 0.5s ease;
  background-color: red;
}

.add-task-div-hidden * {
  display: none;
}

.add-task-div-visible {
  display: block;
  width: 90%;
  height: 500px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 4%;
  transition: height 0.5s ease;
  background-color: red;
  border: 5px double #bbb;
  box-shadow: 5px 5px 2px rgba(77, 77, 77, 0.8);
}

.add-task-area {
  width: 100%;
  position: relative;
}

.right {
  position: absolute;
  top: -15px;
  right: -19px;
}

.add-task {
  width: 100%;
  height: auto;
}

.one-task {
  background-image: url("../img/dnd.png");
  background-repeat: no-repeat;
  background-position: right 55px bottom 50%;
}

.one-task, .one-note {
  width: 97%;
  height: auto;
  background-color: white;
  margin: 5px auto;
  padding: 2px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* transition: margin 1s ease; */
  border: 3px solid orange;
}

.one-task-dragover {
  background-color: rgba(255,255,255,0.7);
  border: 2px dashed blue;
}

.one-task-dragover * {pointer-events: none;}

/* .one-task * {pointer-events: none;} */

.checkbox-container {
  padding-left: 5px;
}

.checkbox-style {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  /* background-color: white; */
  /* box-shadow: 3px 3px 5px red; */
}

.task-p-area {
  width: 85%;
  margin-left: 10px;
  margin-right: 50px;
  outline-color: grey;
}

.task-text, .task-property {
  margin-bottom: 0;
  padding: 0;
  font-size: 18px;
}

.task-property {
  margin: 3px 0 15px 0  ;
  padding: 0;
  font-size: 14px;
  color: grey;
}

.delete-task-button, .delete-note-button {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  text-align: center;
  background-color: var(--button-color);
  border: 2px solid var(--button-border-color);
  border-radius: 50px;
  outline: none;
  box-shadow: 2px 2px var(--button-shadow-color);
}

.delete-task-button:active, .delete-note-button:active {
  box-shadow: 1px 1px var(--button-shadow-color);
}

#add-note {
  margin: 25px auto 5px auto;
  padding: 15px 0;
}

.textarea {
  width: 90%;
  height: 50px;
  max-height: 200px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  resize: vertical;
}

.note-text {
  width: 85%;
  margin-left: 15px;
  outline-color: grey;
}

#round-button-area {
  width: 52%;
  display: flex;
  justify-content: space-between;
  float: right;
  margin: 10px;
}

.button-round {
  width: 50px;
  height: 50px;
  background-color: var(--button-border-color);
  border: 0 solid;
  border-radius: 50px;
  outline: none;
  box-shadow: 3px 3px 5px var(--button-shadow-color);
}

.button-round:active {
  box-shadow: 1px 1px 5px var(--button-shadow-color);
  transform: translateX(1px) translateY(1px);
}
