#round-button-area {
  width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
  margin: 10px;
}

@media screen and (max-width: 850px) {
  #round-button-area {
    display: block;
    width: 90%;
  }
}

.add-task-button {
  width: 50px;
  height: 50px;
  background-color: #ffc807;
  border: 0 solid;
  border-radius: 50px;
  outline: none;
  -webkit-box-shadow: 3px 3px 5px #9c9c9c;
          box-shadow: 3px 3px 5px #9c9c9c;
}

.add-task-button:active {
  -webkit-box-shadow: 1px 1px 5px #9c9c9c;
          box-shadow: 1px 1px 5px #9c9c9c;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

@media screen and (max-width: 850px) {
  .add-task-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
  }
}

#search-area {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  #search-area {
    width: 100%;
    float: right;
  }
}

#search-area #search-input {
  width: 60%;
  padding: 6px;
  outline: none;
  border: 1px solid #ffc539;
}

@media screen and (max-width: 850px) {
  #search-area #search-input {
    width: 70%;
  }
}

#search-area #search-button {
  width: 30%;
  padding: 5px;
}

#task-list, #note-list {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.button-to-input {
  width: 200px;
  padding: 5px;
}

#taskArea {
  position: relative;
  width: 100%;
  height: auto;
}

.add-task-div-hidden, .add-list-div-hidden {
  display: block;
  width: 90%;
  height: 0;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 4%;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  background-color: #ffc539;
}

@media screen and (max-width: 850px) {
  .add-task-div-hidden, .add-list-div-hidden {
    top: 0px;
  }
}

.add-task-div-hidden *, .add-list-div-hidden * {
  display: none;
}

.add-task-div-visible, .add-list-div-visible {
  display: block;
  width: 90%;
  height: 450px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 4%;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  background-color: #ffc539;
  border: 5px double #bbb;
  -webkit-box-shadow: 5px 5px 2px rgba(77, 77, 77, 0.8);
          box-shadow: 5px 5px 2px rgba(77, 77, 77, 0.8);
  z-index: 3;
}

@media screen and (max-width: 850px) {
  .add-task-div-visible, .add-list-div-visible {
    top: 0px;
  }
}

@media screen and (max-width: 850px) {
  .add-task-div-visible {
    height: 430px;
  }
}

.add-list-div-visible {
  height: 200px;
}

.add-task-area, .add-list-area {
  width: 100%;
  position: relative;
  z-index: 3;
}

.right {
  position: absolute;
  top: -15px;
  right: -19px;
}

.add-task {
  width: 100%;
  height: auto;
}

.one-task, .one-note {
  width: 97%;
  height: auto;
  background-color: #fff;
  margin: 5px auto;
  padding: 2px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* transition: margin 1s ease; */
  border: 1px solid #ffc539;
}

@media screen and (max-width: 850px) {
  .one-task, .one-note {
    margin: 1px auto;
  }
}

.one-task {
  background-image: url("../img/dnd.png");
  background-repeat: no-repeat;
  background-position: right 55px bottom 50%;
}

.one-task-dragover {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px dashed blue;
}

.one-task-dragover * {
  pointer-events: none;
}

/* .one-task * {pointer-events: none;} */
.checkbox-container {
  padding-left: 5px;
}

.checkbox-style {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  position: relative;
}

.task-p-area {
  width: 85%;
  margin-left: 10px;
  margin-right: 50px;
  outline-color: grey;
}

@media screen and (max-width: 850px) {
  .task-p-area {
    width: 60%;
  }
}

.task-p {
  height: 100%;
}

.task-text, .task-property {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0 0 0;
  font-size: 18px;
}

@media screen and (max-width: 850px) {
  .task-text {
    padding: 5px 0 0 0;
  }
}

.task-property {
  margin: 3px 0 15px 0;
  padding: 0;
  font-size: 14px;
  color: grey;
}

@media screen and (max-width: 850px) {
  .task-property {
    margin: 3px 0 5px 0;
    font-size: 12px;
  }
}

.delete-list-button, .delete-add-new-task-button {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #ffc807;
  border-radius: 50px;
  outline: none;
  -webkit-box-shadow: 2px 2px #9c9c9c;
          box-shadow: 2px 2px #9c9c9c;
}

.delete-task-button, .delete-note-button {
  background-image: url("../img/trashIcon.png");
  width: 35px;
  height: 33px;
  margin-right: 5px;
  outline: none;
}

.delete-task-button:active, .delete-note-button:active {
  -webkit-box-shadow: 1px 1px 5px #9c9c9c;
          box-shadow: 1px 1px 5px #9c9c9c;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

#add-note {
  margin: 25px auto 5px auto;
  padding: 15px 0;
}

.textarea {
  width: 90%;
  min-height: 20px;
  max-height: 200px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ffc539;
  border-radius: 10px;
  outline: none;
  resize: vertical;
  height: 50px;
}

.textarea-edit-task {
  width: 90%;
  min-height: 20px;
  max-height: 200px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ffc539;
  border-radius: 10px;
  outline: none;
  resize: vertical;
  height: 20px;
}

.note-text {
  width: 85%;
  margin-left: 15px;
  outline-color: grey;
}

#show-all-button, #delete-all-button {
  width: 120px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin: 0 10px;
  background-color: #fff;
  border: 0 solid;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: 3px 3px 5px #9c9c9c;
          box-shadow: 3px 3px 5px #9c9c9c;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#show-all-button:active, #delete-all-button:active {
  -webkit-box-shadow: 1px 1px 5px #9c9c9c;
          box-shadow: 1px 1px 5px #9c9c9c;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
}

@media screen and (max-width: 850px) {
  #show-all-button, #delete-all-button {
    height: 40px;
    padding: 5px;
  }
}
/*# sourceMappingURL=tasksArea.css.map */