$background-color: #f4f4f4;
// $menu-color: #c2c2c2;
$main-color: #ffc539;
$ovlp-border-color: #fff;
$task-color: #fff;
$button-color: #fff;
$button-border-color: #ffc807;
$button-shadow-color: #9c9c9c;