$background-color: #f4f4f4;
// $main-color: #ffc539;
$main-color: #884681;
$ovlp-border-color: #fff;
$task-color: #fff;
$button-color: #fff;
$button-border-color: #ffc807;
$button-shadow-color: #9c9c9c;
$menu-background-gradient: linear-gradient(to bottom, #2272bd 0%,#5d6dbd 34%,#a72659 63%,#784072 100%);
$task-border-gradient: linear-gradient(to right, #2272bd, #784072);
$blue-background: #1c64a7;
$purple-background: #64345f;